<div class="maincontent container">
</div>
<div class="container">
  <br>  <br>  <br>  <br>  <br>  <br>  <br>
  <div class="row">


    <p>Amount Transaction id  :    <h3><a target="_blank" href="https://rinkeby.etherscan.io/tx/{{transid}}" class="transid">{{transid}}</a></span></h3></p>
    </div>
    <div class="row">
      <p>Token Transaction id  :    <h3><a target="_blank"  href="https://rinkeby.etherscan.io/tx/{{transtoken}}" class="transid">{{transtoken}}</a></span></h3></p>
      </div>
</div>
<br>  <br>  <br>  <br>  <br>  <br>  <br>
<div class="row">
  <a href="/token">Back</a>
</div>
</div>
