<!DOCTYPE html>
<html>
<html lang="en">
  <head>
    <title>Alwin</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- carousel CSS -->
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <!--header icon CSS -->
    <link rel="icon" href="imgages/fabicon.png">
    <!-- animations CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.min.css">
    <!-- font-awsome CSS -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- mobile menu CSS -->
    <link rel="stylesheet" href="/stylesheets/slicknav.min.css">
    <!--css animation-->
    <link rel="stylesheet" href="/stylesheets/animation.css">
    <!--css animation-->
    <link rel="stylesheet" href="/stylesheets/material-design-iconic-font.min.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- responsive CSS -->
    <link rel="stylesheet" href="/stylesheets/responsive.css">
  </head>
  <body>
    {{> header }}
  <div class='container'>

    {{{body}}}

  </div>


  <script src="/javascripts/jquery-2.2.4.min.js"></script>

  <!-- popper js-->
  <script src="/javascripts/popper.js"></script>

  <!-- carousel js-->
  <script src="/javascripts/owl.carousel.min.js"></script>
  <!-- wow js-->
  <script src="/javascripts/wow.min.js"></script>
  <!-- bootstrap js-->
  <script src="/javascripts/bootstrap.min.js"></script>
  <!--skroller js-->
  <script src="/javascripts/skrollr.min.js"></script>
  <!--mobile menu js-->
  <script src="/javascripts/jquery.slicknav.min.js"></script>
  <!--particle s-->
  <script src="/javascripts/particles.min.js"></script>
  <!-- main js-->
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/chips.js"></script>
  </body>
</html>
